<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
	 xmlns:panel="http://schemas.panel-sw.co.il/wix/WixExtension">

	<Product Id="*" Name="CGeoIPModule" Language="1033" Manufacturer="kimboslice99" Version="1.0.0.0" UpgradeCode="FECA01B4-96AC-414D-B389-2E210C8A0385">
		<Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" />
		<Media Id="1" Cabinet="CGeoIPModule.cab" EmbedCab="yes" />

		<Condition Message="This application is already installed.">
			NOT Installed OR REMOVE="ALL"
		</Condition>

		<Property Id="IISINSTALLED">
			<RegistrySearch Id="CheckRegistryKey"
							Root="HKLM"
							Key="SOFTWARE\Microsoft\Inetstp"
							Name="VersionString"
							Type="raw" />
		</Property>


		<!-- Define the condition -->
		<Condition Message="It would appear you do not have IIS installed!">
			<![CDATA[IISINSTALLED]]>
		</Condition>

		<!-- Feature section that references the ComponentGroup -->
		<Feature Id="MainFeature" Title="Main Feature" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

	</Product>

	<!-- Directory structure -->
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="APPLICATIONROOTDIRECTORY" Name="CGeoIPModule" />
			</Directory>

			<Directory Id="System64Folder">
				<Directory Id="INETSVCFOLDER" Name="inetsrv">
					<Directory Id="CONFIGFOLDER" Name="config">
						<Directory Id="SCHEMADIRECTORY" Name="schema" />
					</Directory>
				</Directory>
			</Directory>

			<Directory Id="GlobalAssemblyCache" Name="GlobalAssemblyCache">
				<Component Id="GeoIPModuleUI" Guid="{B07FF430-AAB4-49E6-8035-60142942F325}">
					<File Id="GeoIPModuleUI" Source="..\ui-src\bin\$(var.Configuration)\CGeoIPModuleUI.dll" KeyPath="yes" Assembly=".net"/>
				</Component>
			</Directory>
		</Directory>

		<!--
		Property to store the result of the XML search
		Not a huge fan of this. Is there no way to just check for the existence of a node? Seems I must select a value.
		-->
		<Property Id="GLOBALMODULESLOCATIONPATH" Secure="yes">
			<panel:XmlSearch Id="CheckGlobalModules" FilePath="[WindowsFolder]System32\inetsrv\config\applicationHost.config"
							 XPath="//configuration/location/system.webServer/globalModules/add[\[]@name='DefaultDocumentModule'[\]]/@name"
							 Language="XPath" Match="all">
				<![CDATA[GLOBALMODULESLOCATIONPATH]]>
			</panel:XmlSearch>
		</Property>
		<Property Id="MODULESLOCATIONPATH" Secure="yes">
			<panel:XmlSearch Id="CheckModules" FilePath="[WindowsFolder]System32\inetsrv\config\applicationHost.config"
							 XPath="//configuration/location[\[]@path=''[\]]/system.webServer/modules/add[\[]@name='DefaultDocumentModule'[\]]/@name"
							 Language="XPath" Match="all">
				<![CDATA[MODULESLOCATIONPATH]]>
			</panel:XmlSearch>
		</Property>
	</Fragment>

	<!-- Define components for DLL and XML file -->
	<Fragment>
		<DirectoryRef Id="SCHEMADIRECTORY">
			<Component Id="CGeoIPModuleSchema" Guid="A997768B-7F92-45E8-A917-7077735DD5B3">
				<File Id="CGeoIPModule_schema.xml" Source="..\src\CGeoIPModule_schema.xml" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="APPLICATIONROOTDIRECTORY">
			<!-- Component for CGeoIPModule.dll -->
			<Component Id="CGeoIPModule" Guid="696E8B09-B421-45A9-B003-771C622D9DD6">
				<File Id="CGeoIPModule.dll" Source="..\src\x64\$(var.Configuration)\CGeoIPModule.dll" KeyPath="yes" Checksum="yes" />

			</Component>
		</DirectoryRef>
	</Fragment>

	<!-- Product Components for Installation -->
	<Fragment>
		<ComponentGroup Id="ProductComponents">
			<!-- DLL and XML files -->
			<ComponentRef Id="CGeoIPModuleSchema" />

			<ComponentRef Id="CGeoIPModule" />
			<ComponentRef Id="GeoIPModuleUI" />
			<!-- Admin Module Configuration -->
			<ComponentRef Id="ModuleConfig" />

			<ComponentRef Id="globalModules"/>
			<ComponentRef Id="globalModulesLocationPath"/>
			<ComponentRef Id="modules"/>
			<ComponentRef Id="modulesLocationPath"/>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<!-- Add module to globalModules, if found on root -->
		<Component Id="globalModules" Guid="6D2DD868-17C7-49C0-B1EF-73BECFBA2BCC" Directory="APPLICATIONROOTDIRECTORY" KeyPath="yes">
			<Condition><![CDATA[NOT GLOBALMODULESLOCATIONPATH = "DefaultDocumentModule"]]></Condition>
			<util:XmlConfig Id="appHostGlobal"
							File="[WindowsFolder]System32\inetsrv\config\applicationHost.config"
							Action="create"
							ElementPath="//configuration/system.webServer/globalModules"
							VerifyPath="add[\[] @name='CGeoIPModule'[\]]"
							Name="add"
							Node="element"
							Sequence="1"
							On="install"/>

			<util:XmlConfig Id="appHostGlobalName"
							File="[WindowsFolder]System32\inetsrv\config\applicationHost.config"
							ElementPath="appHostGlobal"
							Name="name"
							Value="CGeoIPModule"
							Sequence="2" />

			<util:XmlConfig Id="appHostGlobalImage"
							File="[WindowsFolder]System32\inetsrv\config\applicationHost.config"
							ElementPath="appHostGlobal"
							Name="image"
							Value="[APPLICATIONROOTDIRECTORY]CGeoIPModule.dll"
							Sequence="3" />

			<util:XmlConfig Id="appHostGlobalPreCondition"
							File="[WindowsFolder]System32\inetsrv\config\applicationHost.config"
							ElementPath="appHostGlobal"
							Name="preCondition"
							Value="bitness64"
							Sequence="4" />

			<!-- Remove the module -->
			<util:XmlConfig Id="removeAppHostGlobal"
							File="[WindowsFolder]System32\inetsrv\config\applicationHost.config"
							Action="delete"
							Node="element"
							ElementPath="//configuration/system.webServer/globalModules"
							VerifyPath="add[\[]@name='CGeoIPModule'[\]]"
							On="uninstall"
							Sequence="1" />
		</Component>
		<!-- Add module to globalModules, if found in location path="" -->
		<Component Id="globalModulesLocationPath" Guid="3CED49AF-0C23-4A53-A578-1C554A36124B" Directory="APPLICATIONROOTDIRECTORY" KeyPath="yes">
			<Condition><![CDATA[GLOBALMODULESLOCATIONPATH = "DefaultDocumentModule"]]></Condition>
			<util:XmlConfig Id="appHostGlobalLocationPath"
							File="[WindowsFolder]System32\inetsrv\config\applicationHost.config"
							Action="create"
							ElementPath="//configuration/location[\[] @path=''[\]]/system.webServer/globalModules"
							VerifyPath="add[\[] @name='CGeoIPModule'[\]]"
							Name="add"
							Node="element"
							Sequence="1"
							On="install"/>

			<util:XmlConfig Id="appHostGlobalNameLocationPath"
							File="[WindowsFolder]System32\inetsrv\config\applicationHost.config"
							ElementPath="appHostGlobalLocationPath"
							Name="name"
							Value="CGeoIPModule"
							Sequence="2" />

			<util:XmlConfig Id="appHostGlobalImageLocationPath"
							File="[WindowsFolder]System32\inetsrv\config\applicationHost.config"
							ElementPath="appHostGlobalLocationPath"
							Name="image"
							Value="[APPLICATIONROOTDIRECTORY]CGeoIPModule.dll"
							Sequence="3" />

			<util:XmlConfig Id="appHostGlobalPreConditionLocationPath"
							File="[WindowsFolder]System32\inetsrv\config\applicationHost.config"
							ElementPath="appHostGlobalLocationPath"
							Name="preCondition"
							Value="bitness64"
							Sequence="4" />

			<!-- Remove the module -->
			<util:XmlConfig Id="removeAppHostGlobalLocationPath"
							File="[WindowsFolder]System32\inetsrv\config\applicationHost.config"
							Action="delete"
							Node="element"
							ElementPath="//configuration/location[\[] @path=''[\]]/system.webServer/globalModules"
							VerifyPath="add[\[]@name='CGeoIPModule'[\]]"
							On="uninstall"
							Sequence="1" />
		</Component>
		<Component Id="modules" Guid="5ACBE269-A44D-4BB1-A9B3-141A9409A009" Directory="APPLICATIONROOTDIRECTORY" KeyPath="yes">
			<Condition><![CDATA[NOT MODULESLOCATIONPATH = "DefaultDocumentModule"]]></Condition>
			<!-- Add module to modules-->
			<util:XmlConfig Id="appHostModules"
							File="[WindowsFolder]System32\inetsrv\config\applicationHost.config"
							Action="create"
							ElementPath="//configuration/system.webServer/modules"
							VerifyPath="add[\[] @name='CGeoIPModule'[\]]"
							Name="add"
							Node="element"
							Sequence="1"
							On="install" />

			<util:XmlConfig Id="appHostModulesName"
							File="[WindowsFolder]System32\inetsrv\config\applicationHost.config"
							ElementPath="appHostModules"
							Name="name"
							Value="CGeoIPModule"
							Sequence="2" />

			<util:XmlConfig Id="appHostModulesLockItem"
							File="[WindowsFolder]System32\inetsrv\config\applicationHost.config"
							ElementPath="appHostModules"
							Name="lockItem"
							Value="false"
							Sequence="3" />

			<!-- Remove the module -->
			<util:XmlConfig Id="removeAppHostModules"
							File="[WindowsFolder]System32\inetsrv\config\applicationHost.config"
							Action="delete"
							Node="element"
							ElementPath="//configuration/system.webServer/modules"
							VerifyPath="add[\[]@name='CGeoIPModule' and @lockItem='false'[\]]"
							On="uninstall"
							Sequence="1" />
		</Component>
		<Component Id="modulesLocationPath" Guid="A6AF2EBC-296F-4B6E-8B3E-7ECE57664610" Directory="APPLICATIONROOTDIRECTORY" KeyPath="yes">
			<Condition><![CDATA[MODULESLOCATIONPATH = "DefaultDocumentModule"]]></Condition>
			<!-- Add module to modules-->
			<util:XmlConfig Id="appHostModulesLocationPath"
							File="[WindowsFolder]System32\inetsrv\config\applicationHost.config"
							Action="create"
							ElementPath="//configuration/location[\[] @path=''[\]]/system.webServer/modules"
							VerifyPath="add[\[] @name='CGeoIPModule'[\]]"
							Name="add"
							Node="element"
							Sequence="1"
							On="install" />

			<util:XmlConfig Id="appHostModulesNameLocationPath"
							File="[WindowsFolder]System32\inetsrv\config\applicationHost.config"
							ElementPath="appHostModulesLocationPath"
							Name="name"
							Value="CGeoIPModule"
							Sequence="2" />

			<util:XmlConfig Id="appHostModulesLockItemLocationPath"
							File="[WindowsFolder]System32\inetsrv\config\applicationHost.config"
							ElementPath="appHostModulesLocationPath"
							Name="lockItem"
							Value="false"
							Sequence="3" />

			<!-- Remove the module -->
			<util:XmlConfig Id="removeAppHostModulesLocationPath"
							File="[WindowsFolder]System32\inetsrv\config\applicationHost.config"
							Action="delete"
							Node="element"
							ElementPath="//configuration/location[\[] @path=''[\]]/system.webServer/modules"
							VerifyPath="add[\[]@name='CGeoIPModule' and @lockItem='false'[\]]"
							On="uninstall"
							Sequence="1" />
		</Component>
		<Component Id="ModuleConfig" Guid="67DABE54-965B-4887-ADB3-BDB28EC19B6B" Directory="APPLICATIONROOTDIRECTORY" KeyPath="yes">
			<CreateFolder />
			<!-- The module config -->
			<util:XmlConfig Id="appHostEntry"
							File="[WindowsFolder]System32\inetsrv\config\applicationHost.config"
							Action="create"
							ElementPath="//configuration/configSections/sectionGroup[\[]@name='system.webServer'[\]]"
							VerifyPath="section[\[] @name='CGeoIPModule'[\]]"
							Name="section"
							Node="element"
							Sequence="1"
							On="install" />

			<util:XmlConfig Id="appHostEntryName"
							File="[WindowsFolder]System32\inetsrv\config\applicationHost.config"
							ElementPath="appHostEntry"
							Name="name"
							Value="CGeoIPModule"
							Sequence="2" />

			<util:XmlConfig Id="appHostEntryOverrideMode"
							File="[WindowsFolder]System32\inetsrv\config\applicationHost.config"
							ElementPath="appHostEntry"
							Name="overrideModeDefault"
							Value="Allow"
							Sequence="3" />

			<!-- Remove the module config -->
			<util:XmlConfig Id="removeAppHostEntry"
							File="[WindowsFolder]System32\inetsrv\config\applicationHost.config"
							Action="delete"
							Node="element"
							ElementPath="//configuration/configSections/sectionGroup[\[] @name='system.webServer'[\]]"
							VerifyPath="section[\[]@name='CGeoIPModule' and @overrideModeDefault='Allow'[\]]"
							On="uninstall"
							Sequence="1" />

			<!-- The module provider config -->
			<util:XmlConfig Id="adminModuleProvider"
							File="[WindowsFolder]System32\inetsrv\config\administration.config"
							Action="create"
							ElementPath="//configuration/moduleProviders"
							VerifyPath="add[\[] @name='CGeoIPModule'[\]]"
							Name="add"
							Node="element"
							Sequence="1"
							On="install" />

			<util:XmlConfig Id="adminModuleProviderName"
							File="[WindowsFolder]System32\inetsrv\config\administration.config"
							ElementPath="adminModuleProvider"
							Name="name"
							Value="CGeoIPModule"
							Sequence="2" />

			<util:XmlConfig Id="adminModuleProviderType"
							File="[WindowsFolder]System32\inetsrv\config\administration.config"
							ElementPath="adminModuleProvider"
							Name="type"
							Value="CGeoIPModule.GeoblockModuleProvider, CGeoIPModuleUI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f8b59b594cc1445d"
							Sequence="3" />

			<!-- Remove the module provider config -->
			<util:XmlConfig Id="removeAdminModuleProvider"
							File="[WindowsFolder]System32\inetsrv\config\administration.config"
							Action="delete"
							Node="element"
							ElementPath="//configuration/moduleProviders"
							VerifyPath="add[\[]@name='CGeoIPModule'[\]]"
							On="uninstall"
							Sequence="1" />

			<!-- Add module for all sites -->
			<util:XmlConfig Id="adminModule"
							File="[WindowsFolder]System32\inetsrv\config\administration.config"
							Action="create"
							ElementPath="//configuration/location[\[]@path='.'[\]]/modules"
							VerifyPath="add[\[] @name='CGeoIPModule'[\]]"
							Name="add"
							Node="element"
							Sequence="1"
							On="install" />

			<util:XmlConfig Id="adminModuleName"
							File="[WindowsFolder]System32\inetsrv\config\administration.config"
							ElementPath="adminModule"
							Name="name"
							Value="CGeoIPModule"
							Sequence="2" />

			<!-- remove module for all sites -->
			<util:XmlConfig Id="removeAdminModule"
							File="[WindowsFolder]System32\inetsrv\config\administration.config"
							Action="delete"
							Node="element"
							ElementPath="//configuration/location[\[]@path='.'[\]]/modules"
							VerifyPath="add[\[]@name='CGeoIPModule'[\]]"
							On="uninstall"
							Sequence="1" />
		</Component>
	</Fragment>
</Wix>
